body{
    margin:0;
    /* background-color:lightblue; */
}
/* .container{
    background-color: #f0f0f0 ;
} */
.bordered{
    border:1px solid black;
}
.footer{
    height:80px;
}
.footer .col-4{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .footer .col-4 a{
    padding:10px;
    border-radius: 5px;
    transition-duration: 200ms;
} */
.footer .col-4 a:hover{
    background-color:#f0f0f0;
    color:#212529!important;
}